.cover {
  text-align: center;

  @include media(medium) {
    text-align: start;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__description {
    margin-bottom: 60px;
    height: initial;

    @include media(medium) {
      max-width: 905px;
      max-height: 290px;
    }

    @include media(large) {
      height: 100%;
    }
  }

  &__iphone {
    width: 100%;
    max-width: 488px;
    height: auto;
    max-height: 894px;
    background: {
      image: url(../images/screenshot.png);
      position: center;
      size: 78%;
      repeat: no-repeat;
    }
  }
}

.socials {
  @extend %flex-row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  column-gap: 45px;
  row-gap: 60px;
  max-width: 905px;

  @include media(medium) {
    justify-content: flex-start;
  }

  &__item {
    @extend %flex-column;
    align-items: center;
    gap: 30px;

    @include media(medium) {
      flex-direction: row;
    }
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: $primary;
    border-radius: 50px;

    @include media(medium) {
      width: 70px;
      height: 70px;
    }
  }

  &__icon {
    width: 50%;
    height: 50%;
  }
}
