.cover {
  &__title {
    margin-bottom: 55px;
  }

  &__description {
    max-width: 900px;
    margin-bottom: 60px;

    @include media(large) {
      height: 100%;
      max-height: 290px;
    }
  }
}
