.split-screen {
  @extend %flex-column;

  @include media(medium) {
    flex-direction: row;
  }

  &__40 {
    width: 100%;
    min-height: 350px;
    padding: 23px 33px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(medium) {
      padding: 46px 67px;
      width: 40%;
    }

    @include media(large) {
      padding: 93px 135px;
    }
  }

  &__60 {
    width: 100%;
    padding: 150px 40px 35px 40px;

    @include media(medium) {
      padding: 150px 80px 75px 84px;
      width: 60%;
    }
    @include media(large) {
      padding: 150px 160px 150px 84px;
    }
  }
}
